<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO App</title>
</head>

<body>
    <div class="heading">
        <h2>TODO App</h2>
    </div>
    <div class="description">
        <p>Description</p>
        <input type="text" placeholder="What would you like to do?">
    </div>
    <div class="section2">
        <div class="category">
            <label>Category
                <input list="browsers" name="myBrowser" /></label>
            <select>
                <option value="Personal"></option>
                <option value="Work">
                <option value="School">
                <option value="Cleaning">
                <option value="Other">
            </select>
        </div>
    </div>

</body>

</html>