body{
    margin: 0;
}

.wrapper{
    border: 1px solid black;
    padding: 20px 25px;
    height: 90vh;
}

.heading{
    text-align: center;
    border-bottom: 1px solid #eaeaea;
    height: 30px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.heading h2{
    color: #6e6c6b;
    font-family: Arial, Helvetica, sans-serif;
    /* font-style: inherit; */
}

.description{
    border-bottom: 1px solid #eaeaea;
    /* display: flex;
    flex-direction:column;
    justify-content: flex-start; */
    /* background-color: yellow; */
    padding:0px 10px;
    padding-bottom: 15px;
}

.description p, .category p, .da{
    color: #a9a1a7;
    text-transform: uppercase;
    /* background-color: pink; */
}
/* 
.description input[type="text"]{
    border-style: none;
    text-align: left;
} */

.section2{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.category,.date{
    /* height: 100%; */
    padding: 0px 10px;
    flex: 0.5;
}

.date input[type="date"]{
    /* height: 100%; */
} 

.category select,.description input[type="text"],.date input[type="date"]{
    border: none;
    outline: 0px;
}

.section2 .date,.section2 .category{
    border-left: 1px solid #eaeaea;
}